export BUILD_BASE=$(expand_path .)
export BUILD_PLATFORM=win
export MSYS=winsymlinks:nativestrict
PATH_add $BUILD_BASE/bin
PATH_add $HOME/.mozbuild/git-cinnabar
PATH_add $HOME/.mozbuild/sccache
dotenv_if_exists ./.env
. $BUILD_BASE/bin/buildenv
